{% extends 'vegbox_app/header.html' %}
{% block content %}
{% load static %}
<div style="padding: 20px;"></div>
{{ message }}
    <div style="padding-right: 5%; padding-left: 5%;" class="row">
    {% for object in object_list %}
        <div style="padding-bottom: 5%;" class="col-sm-3">
          <img style="border-color: grey; height: 200px;" class="card-img-top" src="{{object.product_img.url}}" alt="Card image cap">            
          <p>{{ object.name }}</p>
            <p>Price: ${{ object.price }}</p>
            {% if object in user.profile.ebooks.all %}
            You own this
            {% elif object in current_order_products %}
            <a style="border-color: #588061; color: white;font-weight: bold; background-color: #588061;" href="{% url 'add_to_cart' object.id %}" class="btn btn-warning">Add to Cart</a>
            {% else %}
            <a style="border-color: #588061; color: white;font-weight: bold; background-color: #588061;" href="{% url 'add_to_cart' object.id %}" class="btn btn-warning">Add to Cart</a>
            {% endif %}
        </div>
    {% endfor %}
    </div>
<div style="padding: 20px;"></div>

{% endblock %} 