{% extends 'vegbox_app/header.html' %}
{% block content %}
{% load static %}

 <section>
   <div class="row">
    <h1>Invoice</h1><hr>
    <table class="table table-hover table-bordered ">
        <tr >
          <th align="left">no.</th>
          <th align="left">Item</th>
          <th align="left">Price</th>
        </tr>
        {% for item in order.get_cart_items %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>
              {{ item.product.name }}
              
            </td>
            <td>{{ item.product.price }}</td>
          </tr>
        
        {% endfor %}
        <tr>
          {% if order.get_cart_total != None %}
          <td colspan=2>
            <strong class="pull-right">Order Total:</strong>
          </td>
          
          <td colspan= 1>
            <strong>{{ order.get_cart_total }}</strong>
          </td>
          {% endif %}
        </tr></table>


</div></section>
      {% endblock %}