{% extends 'vegbox_app/header.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div style="background-color: rgb(238, 236, 236);">
        <div style="padding-top: 30px;"></div>
        <div style="background-color: white; padding-left: 10%; padding-top: 5%; padding-right: 10%; margin-left: 20%; margin-right: 20%;" class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Details</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button style="background-color: #588061; color: white; font-weight: bold;" class="btn btn-outline-info" type="submit">Register</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Already Have An Account? <a class="ml-2" href="#">Sign In</a>
                </small>
            </div>
        </div>
        <div style="padding-top: 30px;"></div>
    </div>
{% endblock content %}